*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body {
  margin: 0px;
  font-family: 'EB Garamond', serif;

}

span {
  position: relative;
  top: 4%;
  right: 2%;
}

/* ----------------------------------------------------- */
/* navbar */
/* ----------------------------------------------------- */
.navbar {
  height: 15%;
}
.navbar-brand{
    font-weight: 700;
}
.btext{
  margin-top: 2%;

}
 #navbarText{
   margin-top: 2%;
 }

 .align-text-top{
   height: 80px;
   width: 80px;
 }

/* =============================================================================== */
/* FAQ */
/* ============================================================================ */

#faq{
  margin-top: 15%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #34495e;
  color: #fff;
}
h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2.7rem;
}

.accordion {
  width: 75%;
  max-width: 1000px;
  margin: 2rem auto;
}
.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(46, 154, 255,0.25);
  text-align: left;

}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2.2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  font-size: 1.2rem;
  font-weight: 500;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
  html {
    font-size: 17px;
  }
}

 /* ============================================================================= */
 /* media query */
/* =========================================================================== */


@media screen and (max-width: 1024px) {

  .navbarText{
    text-align: center;
  }
.nav-item{
  font-size: 2rem;
}
.navbar-text{
    font-size: 2rem;
    position: relative;
    right: 0%;
}
.align-text-top{
  height: 100px;
  width: 100px;
}
.navbar {
  height: auto;
}
.btext{
  font-size: 1.5rem;
}

body{
  text-align: center;
}
#footer{
  margin-top: 60%;
}
}

/* ------------------------------------------------------ */
/* footer */
/* ------------------------------------------------------ */
#footer {
text-align: center;
padding-top: 10px;
margin-top: 10px;
margin-bottom: -50px;
padding-bottom: 0.1rem;
background-color: #efefef;
color: black;

}
.footer-text{
color: black;
text-align: center;
}
.copyright{
margin-top: -17px;
padding-top: 2%;
font-size: 1.2rem;

}
.social-icon {
margin-left: 15px;
margin-right: 10px;
margin-bottom: 5px;
margin-top: 10px;
}
